# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor config files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# AWS CLI cache
.aws/

# MRJob temp files
mrjob-*

# Python test cache
.pytest_cache/

# Output folders
output-folder/
